<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">
          {{ ('::Menu:Professionals'| abpLocalization) }}
        </h5>
      </div>
      <div class="text-end col col-md-6">
        <button
          class="btn btn-primary"
          type="button"
          (click)="createProfesional()"
          *abpPermission="'Citas.Profesionales.Create'">
          <i class="fa fa-plus me-1"></i>
          <span>{{ ('::Professional:NewProfessional'| abpLocalization) }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-datatable [rows]="profesionales.items" [count]="profesionales.totalCount" [list]="list" default>
      <ngx-datatable-column [name]="('::Actions'| abpLocalization)" [maxWidth]="150" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle" aria-haspopup="true" ngbDropdownToggle>
              <i class="fa fa-cog me-1"></i> {{ ('::Actions'| abpLocalization) }}
            </button>
            <div ngbDropdownMenu>
              <button
                ngbDropdownItem
                (click)="editProfesional(row.id)"
                *abpPermission="'Citas.Profesionales.Edit'">
                <i class="fa fa-pen me-1"></i>
                <span>{{ ('::Edit'| abpLocalization) }}</span>
              </button>
              <button
                ngbDropdownItem
                (click)="delete(row.id)"
                *abpPermission="'Citas.Profesionales.Delete'">
                <i class="fa fa-trash me-1"></i>
                <span>{{ ('::Delete'| abpLocalization) }}</span>
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="('::Professional:Name'| abpLocalization)" prop="nombre"></ngx-datatable-column>
      <ngx-datatable-column [name]="('::Professional:Especiality'| abpLocalization)" prop="especializacion"></ngx-datatable-column>
      <ngx-datatable-column [name]="('::Professional:Address'| abpLocalization)" prop="direccion"></ngx-datatable-column>
      <ngx-datatable-column [name]="('::Client:PhoneNumber'| abpLocalization)" prop="telefono"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ selectedProfesional.id ? ('::Edit'| abpLocalization) + ' ' + ('::Professional:Professional'| abpLocalization) : ('::Professional:NewProfessional'| abpLocalization) }}</h3>
  </ng-template>
  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mb-2">
        <label>{{ ('::Professional:Name'| abpLocalization) }}</label>
        <input class="form-control" formControlName="nombre" />
      </div>
      <div class="mb-2">
        <label>{{ ('::Professional:Especiality'| abpLocalization) }}</label>
        <input class="form-control" formControlName="especializacion" />
      </div>
      <div class="mb-2">
        <label>{{ ('::Professional:Address'| abpLocalization) }}</label>
        <input class="form-control" formControlName="direccion" />
      </div>
      <div class="mb-2">
        <label>{{ ('::Client:PhoneNumber'| abpLocalization) }}</label>
        <input class="form-control" formControlName="telefono" />
      </div>
      <button class="btn btn-success me-2" type="submit">
        {{ selectedProfesional.id ? ('::SaveChanges'| abpLocalization) : ('::Add'| abpLocalization) }}
      </button>
      <button class="btn btn-secondary" type="button" (click)="isModalOpen = false">{{ ('::Cancel'| abpLocalization) }}</button>
    </form>
  </ng-template>
</abp-modal>
